.col-md-9
  #header
    #title
      %h1
        StockTwits Archive
        =link_to(image_tag(asset_path('icon-cloud-download.png')), stocktwits_refresh_path)
    #user-dropdown
      .btn-group
        %button.btn.btn-default.dropdown-toggle#user-dropdown-button{:type=> "button", "data-toggle"=>"dropdown", "aria-expanded"=>"false"}
          =@user_id
        %ul.dropdown-menu{ role: "menu" }
          %li= link_to "all", stocktwits_path
          %li= link_to "greenspud", stocktwits_path(user_id: 'greenspud')
          %li= link_to "traderstewie", stocktwits_path(user_id: 'traderstewie')
          %li= link_to "TraderRL23", stocktwits_path(user_id: 'TraderRL23')
          %li= link_to "stt2318", stocktwits_path(user_id: 'stt2318')
          %li= link_to "chartingManDan", stocktwits_path(user_id: 'chartingManDan')
          %li= link_to "Mastertrader_Consultant", stocktwits_path(user_id: 'Mastertrader_Consultant')
          %li= link_to "starbreakouts", stocktwits_path(user_id: 'starbreakouts')
  #stocktwits-watch-indicator{ "data-symbol"=>"" }
    =link_to(image_tag(asset_path('icon-star-sm-yellow.png'), class: 'stocktwits-watch-indicator', style: "display: none;"), "#", id: 'toggle-watching')
  #stocktwits-filter-indicator{ "data-symbol"=>"" }
    &nbsp;

  #stocktwits-content
    %table.stocktwits
      -@twits.each do |twit|
        =render "twit", twit: twit


  .last-twit-placeholder
    =image_tag(asset_path("loading.gif"))


.col-md-3.stocktwits-ticker-navigation
  = render partial: 'ticker_navigation'

=render "load_twits_script"