%h1 10% Gainers and Losers

%h2 Winners
-if @report_winners.count > 0
  %div Last Updated: #{@report_winners.first['quote_time']}
  %div Items: #{@report_winners.count}

.report_date_form
  =report_date_form :pctgainloss

.report-container
  %table.table-bordered#pctgainloss{ style: "width: 950px;"}
    %thead
      %th#index
      %th#ticker-symbol{ style: "width: 100px;"} Ticker Symbol
      %th#last-trade{ style: "width: 100px;"} Last
      %th#pct_change{ style: "width: 100px;"} % Chg (3 day)
      %th#volume{ style: "width: 100px;"} Volume (K)
      %th#average-volume{ style: "width: 100px;"} Avg Vol (K)
      %th#volume-ratio{ style: "width: 100px;"} Volume Ratio
      %th#float{ style: "width: 100px;"} Float
      %th#hide{ style: "width: 100px;"} Hide
      %th#unscrape{ style: "width: 100px;"} Unscrape
    -@report_winners.each_with_index do |r, i|
      %tr{ id: r['ticker_symbol'] }
        %td= i+1
        %td{ class: set_css_class(r, :ticker_symbol) }= r['ticker_symbol']
        %td{ class: set_css_class(r, :last_trade) }= r['close'].to_f.round(2)
        %td{ class: set_css_class(r, :pct_change_3day) }= r['pct_change_3day']
        %td{ class: set_css_class(r, :volume) }= r['volume']
        %td{ class: set_css_class(r, :average_volume) }= r['average_volume']
        %td{ class: set_css_class(r, :volume_ratio) }= r['volume_ratio']
        %td{ class: set_css_class(r, :float) }= r['float'].to_f.round(2)
        %td{ class: set_css_class(r, :hide) }= link_to "H", reports_hide_symbol_path(r['ticker_symbol']), remote: true, method: :patch
        %td{ class: set_css_class(r, :unscrape) }= link_to "U", reports_unscrape_symbol_path(r['ticker_symbol']), remote: true, method: :patch

%h2 Losers
-if @report_losers.count > 0
  %div Last Updated: #{@report_losers.first['quote_time']}
  %div Items: #{@report_losers.count}

.report-container
  %table.table-bordered#pctgainloss{ style: "width: 950px;"}
    %thead
      %th#index
      %th#ticker-symbol{ style: "width: 100px;"} Ticker Symbol
      %th#last-trade{ style: "width: 100px;"} Last
      %th#pct_change{ style: "width: 100px;"} % Chg (3 day)
      %th#volume{ style: "width: 100px;"} Volume (K)
      %th#average-volume{ style: "width: 100px;"} Avg Vol (K)
      %th#volume-ratio{ style: "width: 100px;"} Volume Ratio
      %th#float{ style: "width: 100px;"} Float
      %th#hide{ style: "width: 100px;"} Hide
      %th#unscrape{ style: "width: 100px;"} Unscrape
    -@report_losers.each_with_index do |r, i|
      %tr{ id: r['ticker_symbol'] }
        %td= i+1
        %td{ class: set_css_class(r, :ticker_symbol) }= r['ticker_symbol']
        %td{ class: set_css_class(r, :last_trade) }= r['close'].to_f.round(2)
        %td{ class: set_css_class(r, :pct_change_3day) }= r['pct_change_3day']
        %td{ class: set_css_class(r, :volume) }= r['volume']
        %td{ class: set_css_class(r, :average_volume) }= r['average_volume']
        %td{ class: set_css_class(r, :volume_ratio) }= r['volume_ratio']
        %td{ class: set_css_class(r, :float) }= r['float']
        %td{ class: set_css_class(r, :hide) }= link_to "H", reports_hide_symbol_path(r['ticker_symbol']), remote: true, method: :patch
        %td{ class: set_css_class(r, :unscrape) }= link_to "U", reports_unscrape_symbol_path(r['ticker_symbol']), remote: true, method: :patch



-#with last_5_days as (
-#select ticker_symbol, price_date, high, low, close, round(close/previous_close, 2) as pct_change, volume, average_volume_50day, round(volume / dsp.average_volume_50day, 2) as volume_ratio, candle_vs_ema13, tix.float
-#from daily_stock_prices dsp inner join tickers tix on dsp.ticker_id=tix.id
-#where
-#price_date in (select distinct price_date from daily_stock_prices dsppd where dsppd.price_date <= '#{most_recent_date.strftime('%Y-%m-%d')}' order by dsppd.price_date desc limit 5) and
-#tix.scrape_data = true and
-#volume * 1000 * close > 5000000
-#order by dsp.price_date desc
-#)
-#select ticker_symbol, price_date, high, low, close, pct_change, volume, average_volume_50day, volume_ratio, float,
-#(round(close / (select low from last_5_days ltdpd where ltdpd.ticker_symbol=ltd.ticker_symbol order by price_date limit 1), 4)-1)*100 as pct_change_10day
-#from last_5_days ltd
-#where
-#ltd.price_date = (select price_date from last_5_days ltdpd where ltdpd.ticker_symbol=ltd.ticker_symbol order by price_date desc limit 1) and
-#ltd.close / (select low from last_5_days ltdpd where ltdpd.ticker_symbol=ltd.ticker_symbol order by price_date limit 1) < 0.90
-#order by ltd.close / (select low from last_5_days ltdpd where ltdpd.ticker_symbol=ltd.ticker_symbol order by price_date limit 1)
