!!!
%html
  %head
    %title Stock Trend Finder
    = stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    :javascript
      $(function() {
          $( "#report_date" ).datepicker();
        });
  %body
    %nav.navbar.navbar-default{ role: "navigation" }
      .container
        %ul.nav.navbar-nav
          %li.active= link_to "Active Stocks", reports_active_stocks_path
          %li.active= link_to "Hammers", reports_hammers_path
          %li.active= link_to "13EMA", reports_ema13_breaks_path
          %li.active= link_to "50DMA", reports_sma50_breaks_path
          %li.active= link_to "200DMA", reports_sma200_breaks_path
          %li.active= link_to "4-candle", reports_candle_row_path
          %li.active= link_to "10% g/l", reports_pctgainloss_path
          %li.active= link_to "Tickers", reports_ticker_list_path
    .container
      = yield
