!!!
%html
  %head
    %title Stock Trend Finder
    = stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    :javascript
      $(function() {
          $( "#report_date" ).datepicker();
        });

    :javascript
      setTimeout(function(){
        window.location.reload(1);
      }, 300000);

  %body
    %nav.navbar.navbar-default{ role: "navigation" }
      .container
        %ul.nav.navbar-nav
          %li.active= link_to "Pre", reports_premarket_path
          %li.active= link_to "Gaps", reports_gaps_path
          %li.active= link_to "52+", reports_week52_highs_path
          %li.active= link_to "52-", reports_week52_lows_path
          %li.active= link_to "Active", reports_active_stocks_path
          %li.active= link_to "After", reports_afterhours_path
          -#%li.active= link_to "Range", reports_range_path
          -#%li.active= link_to "200DMA", reports_sma200_breaks_path
          -#%li.active= link_to "4-candle", reports_candle_row_path
          %li.active= link_to "10% g/l", reports_pctgainloss_path
          %li.active= link_to "Tickers", reports_ticker_list_path
          %li.active= link_to "Reviews", reports_reviewed_reports_path
          -#%li.active= link_to "IPO", reports_ipo_list_path
    .container
      = yield
